.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

.main-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: left;
    row-gap: 20%;
}

.main-content > div {
    margin: 0;
    padding: 0;
}

.main-content > div > h3 {
    margin: 0;
    font-size: small;
}

.header {

}

[data-label="label"] {
    color: grey;
}